<?xml version="1.0" encoding="utf-8"?>

<!-- Para obtener más información sobre cómo usar la transformación de web.config, visite https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    En el ejemplo siguiente, la transformación de "SetAttributes" cambiará el valor de
    "connectionString" para usar "ReleaseSQLServer" solo cuando el localizador "Match"
    encuentre un atributo "name" con el valor "MyDB".
  -->
    <connectionStrings>
      <add name="DefaultConnection"
           connectionString="Server=39dd7a61-b377-4a2c-99ab-a99d01307450.sqlserver.sequelizer.com;Database=db39dd7a61b3774a2c99aba99d01307450;User ID=hajrunjpetndwedj;Password=KiHxx7MgySEHnd8QWZSj5EGCiumLo2eRpYCKEdKuvqqe8WxhVYsbA7zfHfodTbZE;"
           providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      En el siguiente ejemplo, la transformación de "Replace" reemplazará toda la sección de
      <customErrors> del archivo Web.config.
      Tenga en cuenta que dado que solo hay una sesión customErrors en el nodo 
      <system.web>, no es necesario usar el atributo "xdt:Locator".

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
